server {
    listen          80;
    server_name     example.com;
    index           index.html
    root            /usr/share/nginx/frontend/;

    location / {
        alias /usr/share/nginx/frontend/;
    }

    location /api/ {
        proxy_pass       http://backend:$BACKEND_PORT/;
        proxy_redirect   off;
    }
}
