* {
    font-family: "Roboto", sans-serif;
    color: #ccc;
    margin: 0;
    margin-top: 1.5rem;
}

body {
    text-align: center;
    background-color: #141414;
}

button {
    border: none;
    background-color: #242424;
    font-size: 1.5rem;
    border-radius: 0.25rem;
    cursor: pointer;
    padding: 0.5em 1em;

    transition: 200ms transform linear;
}

button:hover {
    transform: scale(1.025);
}

button:active {
    transform: scale(0.975);
}

span#amount {
    font-family: "Roboto Mono", monospace;
    padding: 0.25em;
    background-color: #242424;
    border-radius: 0.25em;
}
